* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
font-family: "Nunito Sans", sans-serif;
line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

#btn-click-me{
    width: fit-content;
    margin: 50px 100px;
    border: 1px solid rgb(47, 231, 255);
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #333;
    color: aliceblue;
}

#btn-click-me:hover{
    background-color: rgb(47, 231, 255);
}
#popup-modal{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container{
    background: white;
    padding: 30px 40px;
    width: 90%;
    max-width: 400px;
    /* text-align: center; */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.close-btn{
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    float: right;
    cursor: pointer;
        width: 10vh;

}

.no-btn{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid rgb(8, 8, 8);
    float: left;
    cursor: pointer;
    width: 10vh;
}
img{
    width: 25px;
}

.img-with-qst{
    margin-bottom: 10px;
}

p{
    color: #aaa8a8;
    margin-bottom: 25px;
}


#exit-msg,
#no-msg{
    display: none;
    position: fixed;
    z-index: 2000;
    top: 100px;
  right: 20%;
  transform: translateX(-50%);
  background-color: rgb(46, 159, 144);
  color: #e6fff2;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.5;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
  /* font-weight: bold; */
}